section
{
    max-width: 1500px;
    width    : 80%;
    margin   : auto;
    padding  : 30px 30px;
}

body
{
    background-color     : #F3F3F3;
    background-repeat    : no-repeat;
    background-attachment: local;
    background-position  : center;
    background-blend-mode: color-burn;
    background-size      : cover;
    font-family          : Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana;
    padding              : 0;
    margin               : 0;
}

header
{
    text-align      : center;
    margin          : 0;
    padding         : 0;
    overflow        : hidden;
    background-color: #F3F3F3;
    max-width       : 100%;
}

footer
{
    background-color: #111;
    color           : #F3F3F3;
    text-align      : center;
    padding         : 30px 12px;
    font-size       : 16px;
    position        : fixed;
    bottom          : 0;
    right           : 0;
    left            : 0;
}

footer a
{
    color: #F3F3F3;
}

hr
{
    color: #111;
}

h1
{
    color    : #111;
    font-size: 40px;
}

h2
{
    color     : #111;
    font-style: normal;
    font-size : 32px;
}

h3
{
    color      : #111;
    font-style : normal;
    font-weight: normal;
    font-size  : 28px;
}

h4
{
    color      : #111;
    font-style : normal;
    font-weight: lighter;
    font-size  : 24px;
}

subtitle
{
    color     : dimgrey;
    font-style: italic;
    font-size : 18px;
}

code
{
    color    : dimgrey;
    font-size: 18px;
}

p
{
    color    : dimgrey;
    font-size: 18px;
}

ol
{
    color    : dimgrey;
    font-size: 18px;
}

ul
{
    color    : dimgrey;
    font-size: 18px;
}

a
{
    color: dimgrey;
}

img
{
    width : 100%;
    border: 0;
}

button
{
    background-color: darkgrey;
    border-width    : 0px;
    color           : #F3F3F3;
    height          : 50px;
    min-height      : 50px;
    min-width       : 250px;
    text-align      : center;
    text-decoration : none;
    display         : inline-block;
    font-size       : 24px;
    cursor          : pointer;
}

button:hover
{
    border-radius: 25px;
    transition   : 0.5s;
}

button.active
{
    background-color: dimgrey;
}
