.column /* Create three equal columns that floats next to each other */
{
    float: left;
    width: 33.33%;
}

.row:after /* Clear floats after the columns */
{
    content: "";
    display: table;
    clear  : both;
}

.center-align
{
    text-align: center;
}

.left-align
{
    text-align: left;
}

.right-align
{
    text-align: right;
}

img.icon.inline
{
    width : auto;
    height: 50px;
}

img.medium
{
    width: 70%;
}

img.small
{
    width: 30%;
}

@media screen and (max-width: 600px)
{
    .column
    {
        width: 100%;
    }
}
