nav.bar
{
    overflow        : hidden;
    background-color: #111;
}

nav.bar .slot
{
    float          : left;
    font-size      : 16px;
    color          : white;
    text-align     : center;
    width          : 100px;
    padding        : 14px 16px;
    text-decoration: none;
    transition     : 0.3s;
}

nav.bar .slot.active
{
    border-top-style: solid;
    border-top-color: #111;
    background-color: #F3F3F3;
    color           : #111;
    font-weight     : bold;
}

nav.bar .slot.active:hover
{
    background-color   : #F3F3F3;
    border-bottom-style: solid;
    border-bottom-color: #111;
    transition         : 0.3s;
}

.droplist
{
    float   : left;
    overflow: hidden;
}

.droplist .target
{
    font-size       : 16px;
    border          : none;
    outline         : none;
    color           : white;
    padding         : 14px 16px;
    background-color: inherit;
    font-family     : inherit;
    margin          : 0;
}

nav.bar .slot:hover, .droplist:hover .target
{
    background-color: #444;
    transition      : 0.3s;
}

.droplist-content
{
    display   : none;
    position  : absolute;
    width     : 100px;
    z-index   : 1;
    transition: 0.3s;
}

.droplist-content .item
{
    background-color: #F9F9F9;
    float           : none;
    color           : black;
    padding         : 12px 16px;
    text-decoration : none;
    display         : block;
    width           : 100%;
    text-align      : center;
    transition      : 0.3s;
}

.droplist-content .item:hover
{
    background-color: #ddd;
    transition      : 0.3s;
}

.droplist:hover .droplist-content
{
    display: block;
}
