@import "styles-formats.css";

nav.row
{
    overflow        : hidden;
    background-color: #1F1F1F;
    position        : sticky;
    margin          : 0;
    padding         : 0;
    border-width    : 0;
    top             : 0;
    width           : 100%;
}

a.nav-slot
{
    display         : block;
    background-color: #1F1F1F;
    color           : #F3F3F3;
    padding         : 10px 16px;
    text-align      : center;
    font-family     : Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    text-decoration : none;
    font-size       : 20px;
    transition      : 0.5s;
}

a.nav-slot:hover
{
    background-color: dimgrey;
    transition      : 0.5s;
}

a.active.nav-slot
{
    background-color: #F3F3F3;
    color           : #1F1F1F;
    border-top-width: 3px;
    border-top-color: #1F1F1F;
    border-top-style: solid;
    font-weight     : bold;
    transition      : 0.5s;
}

a.active.nav-slot:hover
{
    border-bottom-width: 3px;
    border-bottom-color: #1F1F1F;
    border-bottom-style: solid;
    transition         : 0.5s;
}
