nav.bar
{
    overflow        : hidden;
    background-color: #111;
}

nav.bar .tab
{
    border-top-style   : solid;
    border-top-color   : #111;
    border-bottom-style: solid;
    border-bottom-color: #111;
    float              : left;
    font-size          : 16px;
    color              : white;
    text-align         : center;
    width              : 100px;
    padding            : 14px 16px;
    text-decoration    : none;
    transition         : 0.3s;
}

nav.bar .tab.active
{
    background-color   : #F3F3F3;
    border-bottom-color: #F3F3F3;
    border-top-color   : #111;
    color              : #111;
    font-weight        : bold;
}

nav.bar .tab.active:hover
{
    border-top-color   : #111;
    background-color   : #F3F3F3;
    border-bottom-color: #111;
    color              : #111;
    transition         : 0.3s;
}

.droplist
{
    float: left;
}

.droplist .target
{
    font-size       : 16px;
    border          : none;
    outline         : none;
    color           : white;
    padding         : 14px 16px;
    background-color: inherit;
    font-family     : inherit;
    margin          : 0;
}

nav.bar .tab:hover, .droplist:hover .target
{
    border-bottom-color: #444;
    border-top-color   : #444;
    background-color   : #444;
    color              : #F3F3F3;
    transition         : 0.3s;
}

nav.bar .droplist .tab.active:hover, .droplist:hover
{
    border-top-color   : #111;
    background-color   : #F3F3F3;
    border-bottom-color: #F3F3F3;
    color              : #111;
    transition         : 0.3s;
}

.droplist-content
{
    display   : none;
    position  : absolute;
    width     : 100px;
    overflow  : visible;
    margin-top: 55px;
    z-index   : 1;
    transition: 0.3s;
}

.droplist-content .item
{
    background-color: #F9F9F9;
    float           : none;
    color           : black;
    padding         : 12px 16px;
    text-decoration : none;
    display         : block;
    width           : 100%;
    text-align      : center;
    transition      : 0.3s;
}

.droplist-content .item:hover
{
    background-color: #ddd;
    display         : block;
    transition      : 0.3s;
}

.droplist-content .item.active
{
    font-weight: bold;
}

.droplist:hover .droplist-content
{
    display: block;
}

.sticky .droplist:hover .droplist-content
{
    position: fixed;
}

.sticky
{
    position: fixed;
    top     : 0;
    width   : 100%
}
